<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	            xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/common/adminCommon.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminManage.js}"></script>
<title>관리자 정보 수정</title>
</head>
<body>
	<header id="header">
		<h1><a href="/camping/main">LOGO<span></span></a></h1>
	
		<ul class="links">
			<li><a href="/camping/main">통계</a></li>
			<li><a href="/camping/admin/admin_manage">관리자 관리</a></li>
			<li><a href="/camping/admin/user_manage">회원 관리</a></li>
			<li><a href="/camping/admin/camp_manage">캠핑장 관리</a></li>
			<li><a href="/camping/admin/reservation_manage">예약 관리</a></li>
			<li><a href="/camping/admin/help_manage">문의</a></li>
		</ul>
        <ul>
            <li>
				<a th:text="${userId == null ? '로그인' : userId + '님 환영합니다.'}"></a>
			</li>
			<li>
				<a th:text="${userId == null ? '회원가입' : '로그아웃'}" th:href="${userId == null ? '/camping/join' : '/camping/logout'}"></a>
			</li>
        </ul>
    </header>
    <div id="container">
    	<div id="sub-category">
		    <ul class="sub-links">
		        <li><a th:href="@{/admin/admin_detail(no=${adminDetail.userNo})}">관리자 정보</a></li>
		        <li><a th:href="@{/admin/admin_update(no=${adminDetail.userNo})}">정보 수정</a></li>
		        <li><a th:href="@{/admin/admin_history(no=${adminDetail.userNo})}">상세내역</a></li>
		    </ul>
		</div>
		<div class="user_detail_area">
	    	<div class="user_detail_info">
		    	<div class="user_detail_item">
		    		<label class="user_detail_label">번호</label>
		    		<span th:text="${adminDetail.userNo}" id="adminNo"></span>
		    	</div>
		    	<div class="user_detail_item">
		    		<label class="user_detail_label">아이디</label>
			    	<span th:text="${adminDetail.userId}" id="adminUserId"></span>
		    	</div>
		    	<div class="user_detail_item">
		    		<label class="user_detail_label">비밀번호</label>
		    		<input type="password" id="adminPwd" onchange="checkPwd()">
		    	</div>
		    	<div class="user_detail_item">
		    		<label class="user_detail_label">비밀번호 확인</label>
		    		<input type="password" id="adminPwdCheck" onchange="comparePwd()">
		    	</div>
		    	<div class="user_detail_item">
		    		<label class="user_detail_label">이름</label>
		    		<input type="text" th:value="${adminDetail.userName}" id="adminName">
		    	</div>
				<div class="user_detail_item">
					<label class="user_detail_label">이메일</label>
					<input type="text" th:value="${adminDetail.userEmail}" id="adminEmail">
				</div>
				<div class="user_detail_item">
					<label class="user_detail_label">전화번호</label>
					<input type="text" th:value="${adminDetail.userTelNum}" id="adminTelNum" maxlength="11">
				</div>
				<input type="hidden" th:value="${adminDetail.stateCode}" id="stateCode">
			</div>
			<div class="btn_group">
			    <button onclick="adminInfoUpdate()">수정</button>
			    <button onclick="location.href='/camping/admin/admin_manage'">목록으로</button>
			</div>
		</div>
    </div>
    <footer id="footer">
        <div class="copyright">
            &copy; 2024 Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
            Made with: <a href="#">Team3</a>
        </div>
    </footer>
</body>
</html>