<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	            xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/common/adminCommon.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminManage.js}"></script>
<title>관리자 관리</title>
</head>
<body>
	<header id="header">
		<h1><a href="/camping/main">LOGO<span></span></a></h1>
	
		<ul class="links">
			<li><a href="/camping/main">통계</a></li>
			<li><a href="/camping/admin/admin_manage">관리자 관리</a></li>
			<li><a href="/camping/admin/user_manage">회원 관리</a></li>
			<li><a href="/camping/admin/camp_manage">캠핑장 관리</a></li>
			<li><a href="/camping/admin/reservation_manage">예약 관리</a></li>
			<li><a href="/camping/admin/help_manage">문의</a></li>
		</ul>
        <ul>
            <li>
				<a th:text="${userId == null ? '로그인' : userId + '님 환영합니다.'}"></a>
			</li>
			<li>
				<a th:text="${userId == null ? '회원가입' : '로그아웃'}" th:href="${userId == null ? '/camping/join' : '/camping/logout'}"></a>
			</li>
        </ul>
    </header>
    <div id="container">
    	<h2 class="page_title">관리자 관리</h2>
    	<div class="search_area">
		    <input type="text" id="adminId" placeholder="아이디" class="input-field">
		    <input type="date" id="startDate" class="input-field">
		    <input type="date" id="endDate" class="input-field">
		    <select id="stateCode" class="select-field">
		        <option value="">상태</option>
		        <option value="100">정상</option>
		        <option value="900">비활성화</option>
		    </select>
		    <button onclick="searchAdmin()" class="search-button">검색</button>
		</div>
		
		<div class="limit-selection">
		    <label for="limitSelect" class="limit-label">페이지당 표시할 관리자 수:</label>
		    <select id="limitSelect" onchange="updateAdminLimit()" class="limit_select-field">
		        <option value="">관리자 수</option>
		        <option value="10">10</option>
		        <option value="20">20</option>
		        <option value="30">30</option>
		        <option value="40">40</option>
		        <option value="50">50</option>
		    </select>
		</div>
		<div class="total_and_status_area">
			<div class="total_count">
				<div>
					<span th:text="${pagination.totalCount} + '개의 데이터가 검색됨...'"></span>
				</div>
			</div>
			<div class="status_area">
				<div th:each="count:${statusCount}" class="status_count">
				    <span th:text="${count.stateCode}"></span> : 
				    <span th:text="${count.count}"></span> |
				</div>
			</div>
		</div>
		<div class="data_list">
	    	<table>
	    		<thead>
	    			<tr>
	    				<td>번호</td>
	    				<td>아이디</td>
	    				<td>이름</td>
	    				<td>이메일</td>
	    				<td>전화번호</td>
	    				<td>등록일</td>
	    				<td>권한</td>
	    				<td>상태</td>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr th:each="admin:${adminList}">
	    				<td><span th:text="${admin.userNo}"></span></td>
	    				<td><span th:text="${admin.userId}" th:onclick="'adminDetail(\'' + ${admin.userNo} + '\')'" class="a_title"></span></td>
	    				<td><span th:text="${admin.userName}"></span></td>
	    				<td><span th:text="${admin.userEmail}"></span></td>
	    				<td><span th:text="${admin.userTelNum}"></span></td>
	    				<td><span th:text="${#dates.format(admin.RegDate, 'yyyy년 MM월 dd일')}"></span></td>
	    				<td><span th:text="${admin.role}"></span></td>
	    				<td><span th:text="${admin.stateCode}" th:class="${(admin.stateCode == '정상') ? 'status_normal' : 
						                                                  (admin.stateCode == '정지') ? 'status_stopped' : ''}"></span></td>
	    			</tr>
	    		</tbody>
	    	</table>
    	</div>
    	<div class="admin_regist">
    		<a href="/camping/admin/admin_regist" class="admin-button">관리자 등록</a>
    	</div>
		<div id="pagination" class="pagination">
		    <span th:if="${pagination.currentPage > 1}" class="page-item">
		        <a th:href="@{/admin/admin_manage(page=${pagination.currentPage - 1}, limit=${pagination.limit}, id=${adminId}, start_date=${startDate}, end_date=${endDate}, status=${stateCode})}" class="page-link">이전</a>
		    </span>
		
		    <span th:each="page : ${pagination.pageRange}" class="page-item" th:classappend="${page == pagination.currentPage} ? 'active'">
		        <a th:href="@{/admin/admin_manage(page=${page}, limit=${pagination.limit}, id=${adminId}, start_date=${startDate}, end_date=${endDate}, status=${stateCode})}" th:text="${page}" class="page-link"></a>
		    </span>
		
		    <span th:if="${pagination.currentPage < pagination.totalPages}" class="page-item">
		        <a th:href="@{/admin/admin_manage(page=${pagination.currentPage + 1}, limit=${pagination.limit}, id=${adminId}, start_date=${startDate}, end_date=${endDate}, status=${stateCode})}" class="page-link">다음</a>
		    </span>
		</div>
    </div>
    <footer id="footer">
        <div class="copyright">
            &copy; 2024 Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
            Made with: <a href="#">Team3</a>
        </div>
    </footer>
</body>
<style>
	th:nth-child(1), td:nth-child(1) { width: 60px; }
	th:nth-child(2), td:nth-child(2) { width: 150px; }
	th:nth-child(3), td:nth-child(3) { width: 60px; }
	th:nth-child(4), td:nth-child(4) { width: 100px; }
	th:nth-child(5), td:nth-child(5) { width: 60px; }
	th:nth-child(6), td:nth-child(6) { width: 100px; }
	th:nth-child(7), td:nth-child(7) { width: 60px; }
	th:nth-child(8), td:nth-child(8) { width: 60px; }
</style>
</html>