<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/common/adminCommon.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>통계</title>
</head>
<body>
	<header id="header">
		<h1><a href="/camping/main">LOGO<span></span></a></h1>
	
		<ul class="links">
			<li><a href="/camping/main">통계</a></li>
			<li><a href="/camping/admin/admin_manage">관리자 관리</a></li>
			<li><a href="/camping/admin/user_manage">회원 관리</a></li>
			<li><a href="/camping/admin/camp_manage">캠핑장 관리</a></li>
			<li><a href="/camping/admin/reservation_manage">예약 관리</a></li>
			<li><a href="/camping/admin/help_manage">문의</a></li>
		</ul>
        <ul>
            <li>
				<a th:text="${userId == null ? '로그인' : userId + '님 환영합니다.'}" ></a>
			</li>
			<li>
				<a th:text="${userId == null ? '회원가입' : '로그아웃'}" th:href="${userId == null ? '/camping/join' : '/camping/logout'}"></a>
			</li>
        </ul>
    </header>
	<div id="container">
        <h2 class="user_title">최근 30일간 현황</h2>
        <div id="sub-category">
		    <ul class="sub-links">
		        <li><a href="/camping/main">최근 30일간 현황</a></li>
		        <li><a href="/camping/admin/user_statistics">회원 현황(자체 서비스)</a></li>
		        <li><a href="/camping/admin/social_statistics">회원 현황(소셜 로그인)</a></li>
		        <li><a href="/camping/admin/camp_statistics">캠핑장 현황</a></li>
		        <li><a href="/camping/admin/reservation_statistics">예약 현황</a></li>
		        <li><a href="/camping/admin/help_statistics">문의 현황</a></li>
		    </ul>
		</div>
		<div class="row">
			<div class="column">
				<h3 class="chartTitle">예약 현황</h3>
				<div class="chart-container">
			    	<canvas id="reservationChart"></canvas>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<h3 class="chartTitle">자체 서비스 회원 가입 현황</h3>
				<div class="chart-container">
			    	<canvas id="userChart"></canvas>
				</div>
			</div>
			<div class="column">
				<h3 class="chartTitle">소셜 로그인 회원 가입 현황</h3>
				<div class="chart-container">
			    	<canvas id="socialChart"></canvas>
				</div>
			</div>
		</div>
	</div>
	
	<footer id="footer">
        <div class="copyright">
            &copy; 2024 Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
            Made with: <a href="#">Team3</a>
        </div>
    </footer>
</body>
<script th:inline="javascript">

	document.addEventListener('DOMContentLoaded', function() {
		
		const reservationStatistics = /*[[${reservationStatistics}]]*/ [];
		const userStatistics        = /*[[${userStatistics}]]*/ [];
		const socialStatistics      = /*[[${socialStatistics}]]*/ [];
		
		console.log(reservationStatistics);
		
		const reservationLabels = reservationStatistics.map(item => {
			
			const date = new Date(item.regDate);
			
			const year  = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day   = String(date.getDate()).padStart(2, '0');
			
			return `${year}년 ${month}월 ${day}일`;
		});
		
		const reservationData = reservationStatistics.map(item => item.count);
		const reservationChart = new Chart(document.getElementById('reservationChart').getContext('2d'), {
			type: 'bar',
		    data: {
		        labels: reservationLabels,
		        datasets: [{
		            label: '예약 수',
		            data: reservationData,
		            backgroundColor: '#23610f',
		            borderWidth: 1,
		        }]
		    },
		    options: {
		        responsive: false,
		        scales: {
		            x: {
		                ticks: {
		                    autoSkip: false,
		                    maxRotation: 90,
		                    minRotation: 0
		                },
		                grid: {
		                    display: true
		                }
		            },
		            y: {
		            	beginAtZero: true,
		                min: 0,
		                max: 20,
		                ticks: {
		                    stepSize: 10
		                }
		            }
		        },
		        plugins: {
		            legend: {
		                position: 'top',
		            },
		        }
		    }
		});
		
		const userLabels = userStatistics.map(item => {
			
			const date = new Date(item.regDate);
			
			const year  = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day   = String(date.getDate()).padStart(2, '0');
			
			return `${year}년 ${month}월 ${day}일`;
		});
		
		const userData = userStatistics.map(item => item.count);
		const userChart = new Chart(document.getElementById('userChart').getContext('2d'), {
			type: 'bar',
		    data: {
		        labels: userLabels,
		        datasets: [{
		            label: '회원 수',
		            data: userData,
		            backgroundColor: '#36A2EB',
		            borderWidth: 1,
		        }]
		    },
		    options: {
		        responsive: false,
		        scales: {
		            x: {
		                ticks: {
		                    autoSkip: false,
		                    maxRotation: 90,
		                    minRotation: 0
		                },
		                grid: {
		                    display: true
		                }
		            },
		            y: {
		            	beginAtZero: true,
		                min: 0,
		                max: 20,
		                ticks: {
		                    stepSize: 10
		                }
		            }
		        },
		        plugins: {
		            legend: {
		                position: 'top',
		            },
		        }
		    }
		});
		
		const socialLabels = userStatistics.map(item => {
			
			const date = new Date(item.regDate);
			
			const year  = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day   = String(date.getDate()).padStart(2, '0');
			
			return `${year}년 ${month}월 ${day}일`;
		});
		
		const socialData = socialStatistics.map(item => item.count);
		const socialChart = new Chart(document.getElementById('socialChart').getContext('2d'), {
			type: 'bar',
		    data: {
		        labels: socialLabels,
		        datasets: [{
		            label: '회원 수',
		            data: socialData,
		            backgroundColor: '#FF6384',
		            borderWidth: 1,
		        }]
		    },
		    options: {
		        responsive: false,
		        scales: {
		            x: {
		                ticks: {
		                    autoSkip: false,
		                    maxRotation: 90,
		                    minRotation: 0
		                },
		                grid: {
		                    display: true
		                }
		            },
		            y: {
		            	beginAtZero: true,
		                min: 0,
		                max: 20,
		                ticks: {
		                    stepSize: 10
		                }
		            }
		        },
		        plugins: {
		            legend: {
		                position: 'top',
		            },
		        }
		    }
		});
	});

</script>
</html>