<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
    <link rel="stylesheet" th:href="@{/css/user/userStyle.css}">
	
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script th:src="@{/js/user/review/review.js}"></script>
    
    <title>리뷰 수정</title>
</head>
<body>
    
    <header id="header">
        <h1><a href="/camping/main">LOGO<span></span></a></h1>
        <a href="#menu">메뉴</a>
    </header>
    <nav id="menu">
        <ul class="links">
            
            <li>
                <a th:text="${userId == null ? '로그인' : userId + '님 환영합니다.'}" th:href="${userId == null ? '/camping/account' : '/camping/user/my_info'}"></a>
            </li>
            <li><a href="/camping/main">홈</a></li>
            <li><a href="/camping/user/camp_list">캠핑장</a></li>
            <li><a th:if="${userId != null}" href="/camping/user/my_info">마이페이지</a></li>
            <li><a th:if="${userId != null}" href="/camping/user/help_regist">문의하기</a></li>
            <li>
                <a th:text="${userId == null ? '회원가입' : '로그아웃'}" th:href="${userId == null ? '/camping/join' : '/camping/logout'}"></a>
            </li>
        </ul>
    </nav>
    
    <div class="banner-container">
        <div>
            <p class="banner-text" th:text="${camp.facilityName}"></p>
            <p class="banner-text-small" th:text="${camp.facilityFeatures}"></p>
        </div>
        <div class="category-div">
            <ul class="category-ul" th:if="${pageInfo == 'campPage'}">
                <li class="category-li li-no-active"><a href="/camping/user/camp_list" class="text-active">캠핑장 목록</a></li>
                <li class="category-li li-no-active"><a th:href="'/camping/user/camp_detail?camp_no=' + ${campNo}" class="text-active">소개</a></li>
                <li class="category-li li-no-active"><a th:href="'/camping/user/camp_detail_location?camp_no=' + ${campNo}">위치</a></li>
                <li class="category-li li-active"><a th:href="'/camping/user/camp_detail_review?camp_no=' + ${campNo}">후기</a></li>
                <li class="category-li li-no-active"><a th:href="'/camping/user/camp_detail_reservation?camp_no=' + ${campNo}">예약</a></li>
            </ul>
            <ul class="category-ul" th:if="${pageInfo == 'myPage'}">
                <li class="category-li li-no-active"><a href="/camping/user/my_info">회원 정보</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_cart" class="text-active">찜</a></li>
                <li class="category-li li-active"><a href="/camping/user/my_review">내 후기</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_help">문의</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_reservation">예약 내역</a></li>
            </ul>
        </div>
    </div>
    
    <div class="wrapper style1">
        <div class="user-info-div">
            <h3>리뷰 수정</h3>
        </div>
        <div class="inner">
            <div class="review-regist-div">
            	
            	<input class="review-regist-title"  type="text" id="reviewTitle"  name="reviewTitle" th:value="${reviewDetail.reviewTitle}" placeholder="제목을 입력해 주세요."/>
                
                <div class="review-image-button-div">
                	<input  class="review-image-button" type="file" id="file" onchange="setThumbnail()"/>
                	<button class="img-delete"  id="imgDelete"  onclick="imgDelete()">이미지 제거</button>
                    <img id="thumbnail" class="thumbnail" th:src="${reviewDetail.reviewImgPath}"/>
                </div>
                
            	<textarea class="review-regist-detail" id="reviewDetail" name="reviewDetail" th:text="${reviewDetail.reviewDetail}" placeholder="내용을 입력해 주세요."></textarea>
            	
            	<hr>
            	<button th:onclick="reviewUpdate(/*[[${reviewNo}]], [[${campNo}]], [[${pageInfo}]]*/)">수정하기</button>
            	<button onclick="window.history.back()">돌아가기</button>
       	    </div>
        </div>
    </div>
    <footer id="footer">
        <div class="inner">
            <div class="flex flex-3">
                <div class="col">
                    <h3>고객센터</h3>
                    <ul class="alt">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="/camping/user/help_regist">문의하기</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">서비스이용약관</a></li>
                        <li><a href="#">운영정책</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        &copy; 2024 Templated.co & Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
        Made with: <a href="https://templated.co/">Templated.co</a>
    </div>
    <script th:src="@{/js/common/index/jquery.min.js}"></script>
    <script th:src="@{/js/common/index/jquery.scrolly.min.js}"></script>
    <script th:src="@{/js/common/index/skel.min.js}"></script>
    <script th:src="@{/js/common/index/util.js}"></script>
    <script th:src="@{/js/common/index/main.js}"></script>
</body>
</html>