<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	            xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/common/adminCommon.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminManage.js}"></script>
<title>회원 상세내역(자체 서비스 회원)</title>
</head>
<body>
	<header id="header">
		<h1><a href="/camping/main">LOGO<span></span></a></h1>
	
		<ul class="links">
			<li><a href="/camping/main">통계</a></li>
			<li><a href="/camping/admin/admin_manage">관리자 관리</a></li>
			<li><a href="/camping/admin/user_manage">회원 관리</a></li>
			<li><a href="/camping/admin/camp_manage">캠핑장 관리</a></li>
			<li><a href="/camping/admin/reservation_manage">예약 관리</a></li>
			<li><a href="/camping/admin/help_manage">문의</a></li>
		</ul>
        <ul>
            <li>
				<a th:text="${adminId == null ? '로그인' : adminId + '님 환영합니다.'}"></a>
			</li>
			<li>
				<a th:text="${adminId == null ? '회원가입' : '로그아웃'}" th:href="${adminId == null ? '/camping/join' : '/camping/logout'}"></a>
			</li>
        </ul>
    </header>
    <div id="container">
    	<h2 class="user_title">회원 관리(자체 서비스 회원)</h2>
    	<div id="sub-category">
		    <ul class="sub-links">
		        <li><a th:href="@{/admin/user_detail(no=${userNo})}">회원 정보</a></li>
		        <li><a th:href="@{/admin/user_history(no=${userNo})}">상세내역</a></li>
		    </ul>
		</div>
		<div>
			<table>
				<thead>
					<tr>
						<td>아이디</td>
						<td>이름</td>
						<td>사유</td>
						<td>수정일</td>
						<td>관리자</td>
						<td>상태</td>
					</tr>
				</thead>
				<tbody>
	    			<tr th:each="history:${userHistory}">
	    				<td><span th:text="${history.userId}"></span></td>
	    				<td><span th:text="${history.userName}"></span></td>
	    				<td><span th:text="${history.reason}"></span></td>
	    				<td><span th:text="${#dates.format(history.updDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span></td>
	    				<td><span th:text="${history.adminId}"></span></td>
	    				<td><span th:text="${history.stateCode}" th:class="${(history.stateCode == '정상') ? 'status_normal' : 
							                                                 (history.stateCode == '비활성화') ? 'status_stopped' :
							                                                 (history.stateCode == '탈퇴대기') ? 'status_withdrawal' : ''}"></span></td>
	    			</tr>
	    		</tbody>
			</table>
			<div class="btn_group">
				<button onclick="location.href='/camping/admin/user_manage'">목록으로</button>
			</div>
		</div>
    </div>
    <footer id="footer">
        <div class="copyright">
            &copy; 2024 Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
            Made with: <a href="#">Team3</a>
        </div>
    </footer>
</body>
<style>
	th:nth-child(1), td:nth-child(1) { width: 60px; }
	th:nth-child(2), td:nth-child(2) { width: 60px; }
	th:nth-child(3), td:nth-child(3) { width: 300px; }
	th:nth-child(4), td:nth-child(4) { width: 100px; }
	th:nth-child(5), td:nth-child(5) { width: 60px; }
	th:nth-child(6), td:nth-child(6) { width: 60px; }
</style>
</html>