<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <script th:inline="javascript">
        let resultInfo   = /*[[${resultInfo}]]*/{};
        
        if (resultInfo != null && resultInfo.intRetVal != 0) {
            alert(resultInfo.strRetVal);
            window.location.href = resultInfo.strRedirectUrl;
        } else {
        	alert('에러 발생\n초기화면으로 돌아갑니다');
        	window.location.href = '/camping/main';
        }
    </script>

    <title>에러</title>
</head>
<body>
</body>
</html>