<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
    <link rel="stylesheet" th:href="@{/css/user/userStyle.css}">
    <script th:src="@{/js/user/help/help.js}"></script>
    <script th:inline="javascript">let searchOption = /*[[${searchOption}]]*/[];</script>
    <title>내 문의</title>
</head>
<body>
    
    <header id="header">
        <h1><a href="/camping/main">LOGO<span></span></a></h1>
        <a href="#menu">메뉴</a>
    </header>
    <nav id="menu">
        <ul class="links">
            
            <li>
                <a th:text="${userId == null ? '로그인' : userId + '님 환영합니다.'}" th:href="${userId == null ? '/camping/account' : '/camping/user/my_info'}"></a>
            </li>
            <li><a href="/camping/main">홈</a></li>
            <li><a href="/camping/user/camp_list">캠핑장</a></li>
            <li><a th:if="${userId != null}" href="/camping/user/my_info">마이페이지</a></li>
            <li><a th:if="${userId != null}" href="/camping/user/help_regist">문의하기</a></li>
            <li>
                <a th:text="${userId == null ? '회원가입' : '로그아웃'}" th:href="${userId == null ? '/camping/join' : '/camping/logout'}"></a>
            </li>
        </ul>
    </nav>
    
    <div class="banner-container">
        <div>
            <p class="banner-text">마이페이지</p>
        </div>
        <div class="category-div">
            <ul class="category-ul">
                <li class="category-li li-no-active"><a href="/camping/user/my_info" class="text-active">회원 정보</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_cart">찜</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_review">내 후기</a></li>
                <li class="category-li li-active"><a href="/camping/user/my_help">문의</a></li>
                <li class="category-li li-no-active"><a href="/camping/user/my_reservation">예약 내역</a></li>
            </ul>
        </div>
    </div>
    
    <div class="wrapper style1">
        <div class="user-info-div">
            <h3>내 문의</h3>
        </div>
        <div class="inner">
            <div class="help-div">
            
                <!-- 검색 -->
                <div class="search-div">
                    <input type="text" id="searchKey" class="search-input" placeholder="문의 검색" th:value="${searchOption.helpTitle}">
                    <button class="search-button" onclick="search()">검색</button>
                    <select id="limit" class="select-limit" onchange="search()">xm
                        <option value="5" th:selected="${searchOption.limit == 5}">5개씩 보기</option>
                        <option value="10" th:selected="${searchOption.limit == 10}">10개씩 보기</option>
                        <option value="15" th:selected="${searchOption.limit == 15}">15개씩 보기</option>
                        <option value="20" th:selected="${searchOption.limit == 20}">20개씩 보기</option>
                        <option value="25" th:selected="${searchOption.limit == 25}">25개씩 보기</option>
                        <option value="30" th:selected="${searchOption.limit == 30}">30개씩 보기</option>
                    </select>
                </div>
            
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록일</th>
                            <th>
                                <select class="pointer" id="stateCode" onchange="search()">
                                    <option value="">답변상태</option>
                                    <option value="200" th:selected="${searchOption.stateCode == 200}">답변전</option>
                                    <option value="100" th:selected="${searchOption.stateCode == 100}">답변완료</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tr th:each="help : ${helpList}" class="pointer" th:onclick="location.href='/camping/user/help_detail?help_no='+[[${help.helpNo}]]">
                        <td th:text="${help.helpRowNo}"></td>
                        <td th:text="${help.helpTitle}"></td>
                        <td th:text="${#dates.format(help.regDate, 'yyyy년 MM월 dd일')}"></td>
                        <td th:text="${help.stateCode}"></td>
                    </tr>
                
                </table>
            </div>
            
            <div class="help-button-div">
                <button th:onclick="location.href='/camping/user/help_regist'">문의하기</button>
            </div>
            
            <div id="pagination" class="pagination">
                <span th:if="${searchOption.currentPage > 1}" class="page-item">
                    <a th:onclick="movePage(/*[[${searchOption.currentPage - 1}]]*/)" class="page-link pointer">이전</a>
                </span>
                
                <span th:each="page : ${searchOption.pageRange}" class="page-item" th:classappend="${page == searchOption.currentPage} ? 'active'">
                    <a th:onclick="movePage(/*[[${page}]]*/)" th:text="${page}" class="page-link pointer"></a>
                </span>
                
                <span th:if="${searchOption.currentPage < searchOption.totalPages}" class="page-item">
                    <a th:onclick="movePage(/*[[${searchOption.currentPage + 1}]]*/)" class="page-link pointer">다음</a>
                </span>
            </div>
            
        </div>
        
    </div>
    
    
    
    <footer id="footer">
        <div class="inner">
            <div class="flex flex-3">
                <div class="col">
                    <h3>고객센터</h3>
                    <ul class="alt">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="/camping/user/help_regist">문의하기</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">서비스이용약관</a></li>
                        <li><a href="#">운영정책</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        &copy; 2024 Templated.co & Team3. All rights reserved. Icons by <a href="https://icons8.com">Icons8</a><br>
        Made with: <a href="https://templated.co/">Templated.co</a>
    </div>
    <script th:src="@{/js/common/index/jquery.min.js}"></script>
    <script th:src="@{/js/common/index/jquery.scrolly.min.js}"></script>
    <script th:src="@{/js/common/index/skel.min.js}"></script>
    <script th:src="@{/js/common/index/util.js}"></script>
    <script th:src="@{/js/common/index/main.js}"></script>
</body>
</html>